@charset "utf-8";
/* CSS Document */

* {
    font-family: 'Source Sans Pro', sans-serif;
}

/* CSS styling for header elements */

header {
    padding: 1rem 0;
    /* background-color: rgb(229, 222, 221); */
}

.navigation-bar {
    padding: 3rem 0;
    background-color: rgb(229, 222, 211);
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    display: inline-block;
    height: auto;
}

.subscribe-header {
    background-color: rgb(229, 222, 211);
}

.button-link {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid black;
    text-transform: uppercase;
    padding: .5rem 2rem;
    letter-spacing: 2px;
    -o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
    transition: .5s;
}

.button-link:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    color: white;
    -o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
}

.bg-pastel {
    /* background-image: url("../images/pastel-bg.jpg"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
}

/* CSS styling for the body content */

section {
    padding: 2rem 0;
}

.width-60 {
    width: 60%;
    height: auto;
}

.button-rsvp {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding: .5rem;
    border: 1px solid black;
    -o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.button-rsvp:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    color: white;
    text-decoration: none;
    cursor: pointer;
    -o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.img-button {
    background: none;
    color: none;
    border: none;
    -o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
    transition: .5s;
}

.img-button:hover {
    cursor: pointer;
}

.img-modal:hover {
    cursor: pointer;
}

.bg-color1 {
    background-color: rgb(243, 164, 157);
}

.bg-color2 {
    background-color: rgb(241, 207, 203);
}

p {
    padding: 1rem 0;
}

.box {
    padding: 3rem 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid rgb(241, 207, 203);
    margin: 2rem 0;
    width: 80%;
    height: auto;
    color: white;
}

.spacing {
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 2rem;
    margin: 1rem 0;
}

hr {
    background-color: black;
}

.hr-pink {
    width: 80%;
}

.vertical-hr {
    border-right: 1px solid black;
}

.margin-center {
    padding-top: 2rem;
}

.mission {
    letter-spacing: .5px;
    word-spacing: 2px;
    line-height: 1.5rem;
}

/* CSS styling for the footer */

footer {
    padding: 4rem 0 2rem 0;
    background-color: rgb(229, 222, 211);
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* CSS styling for board member section */

.board-group {
    display: inline-block;
}

.board-member {
    height: 200px;
    width: 200px;
    margin: 2rem 3rem;
    display: inline-block;
}

.board-picture {
    height: 200px;
    width: 200px;
}

.board-name {
    height: 25px;
    width: 200px;
}

/* CSS styling for links */

.foot-link {
    text-decoration: none;
    color: black;
}

.foot-link:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    -o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}
