@charset "utf-8";
/* CSS Document */

* {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    padding: 4rem 0;
    background-color: rgb(229, 222, 221);
}

section {
    padding: 2rem 0;
}

.width-60 {
    width: 60%;
    height: auto;
}

.bg-color1 {
    background-color: rgb(243, 164, 157);
}

.bg-color2 {
    background-color: rgb(241, 207, 203);
}

p {
    padding: 1rem 0;
}

footer {
    padding: 4rem 0;
    background-color: rgb(229, 222, 221);
}
